@require '~@theme/styles/variables'

.content
  width 100%
  padding-left 0.2rem
  line-height 1.65
  overflow-wrap break-word
  a:hover
    text-decoration underline
  ul, ol
    padding-left 1.2em
  img
    max-width 100%
  p.demo
    padding 1rem 1.5rem
    border 1px solid #ddd
    border-radius 4px
  hr
    display block
    height 1px
    border 0
    border-top 1px solid $borderColor
    margin 1.2rem 0
    padding 0
  strong
    font-weight 600
  a.header-anchor
    font-size 0.85em
    float left
    margin 0.125em 0 0 -0.85em
    opacity 0
    transition all 0.2s
    &:hover
      text-decoration none
  h1, h2, h3, h4, h5, h6
    margin-top (0.5rem - $navbarHeight)
    padding-top (1rem + $navbarHeight)
    &:hover > a.header-anchor
      opacity 1
  h1
    font-size 1.6rem
    padding-bottom 0.3em
    margin-bottom 0.5em
    border-bottom 1px solid $borderColor
  h2
    font-size 1.3rem
    padding-bottom 0.3em
    margin-bottom 0.5em
    border-bottom 1px solid $borderColor
  h3
    font-size 1.1rem
  h4, h5, h6
    font-size 1rem
  code, kbd
    font-family Sarasa Term SC Medium, fira code, Poppins, Lato, Calibri, Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Heiti SC, Hiragino Sans GB, Microsoft YaHei, Dengxian, Simsun, sans-serif
  blockquote
    padding 0 1em
    color #6a737d
    border-left 0.25em solid #dfe2e5
    margin-left 0
    >:first-child
      margin-top 0
    >:last-child
      margin-bottom 0
  table
    max-width 100%
    border-collapse collapse
    margin 1rem 0

  tr
    border-top 1px solid #dfe2e5
    &:nth-child(2n)
      background-color #f6f8fa

  th, td
    border 1px solid #dfe2e5
    padding .6em 1em
  code
    background-color: #fff5f5;
    color: #ff502c;
  pre[class*="language-"] 
    background-color: rgb(43, 33, 58) !important;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 6px 9px;
    padding: 4em 1.5em 1.5em
    code:before 
      position: absolute;
      top: 16px;
      left: 18px;
      content: "";
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: #ff5f56;
      box-shadow: 18px 0 0 0 #ffbd2e, 36px 0 0 0 #27c93f
    code
      font-size: 16px 
      padding: 0;
      background-color: transparent;
      border-radius: 0;
      // text-shadow: 0px 0px 40px;
  .post-nav-card 
    overflow-y auto
    max-height 80vh
    a
      font-size 14px
  pre[class*="language-"]
    code
      color: #fdfdfd;
      text-shadow: 0 0 2px #001716, 0 0 3px #03edf975, 0 0 5px #03edf975, 0 0 8px #03edf975;
    .token.function 
      color: rgb(174, 255, 177);
      text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(174, 255, 177,0.2), 0 0 10px rgba(255,255,255,0.2);
    .token.keyword
      color: #f4eee4;
      font-style: italic;
      text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
    .token.punctuation
      font-weight: initial;
      font-style: initial;
      text-decoration: initial;
      text-shadow: none;
    .token.comment
      color: #b5b5b5;
      font-style: italic;
      text-shadow: none;
    .token.operator
      color: #f4eee4;
      text-shadow: 0 0 2px #393a33, 0 0 8px #f39f0575, 0 0 2px #f39f0575;
    .token.string
      color: rgb(255, 139, 57) !important;
      text-shadow: none;
    .token.builtin
      color: rgb(255, 163, 221);
      text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(255, 163, 221, 0.2), 0 0 10px rgba(255,255,255,0.2);
    .token.number    
      color: #00BCD4;
      text-shadow: none;
    .token.class-name
      color: #FFEB3B;
      text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(255, 235, 59,0.2), 0 0 10px rgba(255,255,255,0.2);
    .token.boolean
      color: rgb(244, 67, 54);
      text-shadow: 0 0 2px #100c0f, 0 0 5px rgba(244, 67, 54,0.2), 0 0 10px rgba(255,255,255,0.2);